<div class="author-detail" *ngIf="author">
  <ul class="list-group">
    <li class="list-group-item border-0"> {{ author.author}}</li>
    <li class="list-group-item border-0"> {{ author.forename}}</li>
    <li class="list-group-item border-0"> {{ author.surname}}</li>
    <li class="list-group-item border-0"> {{ author.birthDate}}</li>
    <li class="list-group-item border-0"> {{ author.deathDate}}</li>
    <li class="list-group-item border-0"> {{ author.gender}}</li>
    <li class="list-group-item border-0"> {{ author.workStart}}</li>
  </ul>
</div>
