<div class="author-detail" *ngIf="author">
  <ul class="list-group">
    <li class="list-group-item border-0" id="fistEntry"> {{ author.author}}</li>
    <li class="list-group-item border-0"> {{'Forename:  '}}{{author.forename}}</li>
    <li class="list-group-item border-0"> {{'Surname:  '}}{{ author.surname}}</li>
    <li class="list-group-item border-0"> {{'Gender:  '}}{{ author.gender}}</li>
    <li class="list-group-item border-0"> {{'Age:  '}}{{ author.age}}</li>
    <li class="list-group-item border-0"> {{'Date of Birth:  '}}{{ author.birthDate}}</li>
    <li class="list-group-item border-0"> {{'Place of birth:  '}}{{ author.birthPlace}}</li>
    <li class="list-group-item border-0"> {{'Date of Death:  '}}{{ author.deathDate}}</li>
    <li class="list-group-item border-0"> {{'Place of death:  '}}{{ author.deathPlace}}</li>
    <li class="list-group-item border-0"> {{'Cause of Death:  '}}{{ author.deathCause}}</li>
    <li class="list-group-item border-0"> {{'Started working in:  '}}{{ author.workStart}}</li>
    <li class="list-group-item border-0"> {{'Religion:  '}}{{ author.religion}}</li>
    <li class="list-group-item border-0"> {{'Ethnicity:  '}}{{ author.ethnicity}}</li>
    <li class="list-group-item border-0"> {{'Language:  '}}{{ author.language}}</li>
    <li class="list-group-item border-0"> {{'Native language:  '}} {{ author.nativeLanguage}}</li>
    <li class="list-group-item border-0"> {{'Childhood residence:  '}}{{ author.childhoodResidence}}</li>
    <li class="list-group-item border-0"> {{'Childhood region:  '}}{{ author.childhoodRegion}}</li>
    <li class="list-group-item border-0"> {{'Main Region:  '}}{{ author.mainRegion}}</li>
    <li class="list-group-item border-0"> {{'Main Residence:  '}}{{ author.mainResidence}}</li>
    <li class="list-group-item border-0"> {{'Residence:  '}}{{ author.residence}}</li>
    <li class="list-group-item border-0"> {{'Region:  '}}{{ author.region}}</li>
    <li class="list-group-item border-0"> {{'Amount of siblings:  '}}{{ author.siblings}}</li>
    <li class="list-group-item border-0"> {{'Amount of partners:  '}}{{ author.partners}}</li>
    <li class="list-group-item border-0"> {{'Amount of Children:  '}}{{ author.children}}</li>
    <li class="list-group-item border-0"> {{'Highest Education:  '}}{{ author.highestEducation}}</li>
    <li class="list-group-item border-0"> {{'University:  '}}{{ author.university}}</li>
    <li class="list-group-item border-0"> {{'Member of:  '}}{{ author.member}}</li>
    <li class="list-group-item border-0"> {{'Social status:  '}}{{ author.socialStatus}}</li>
    <li class="list-group-item border-0"> {{'Biodiversity:  '}}{{ author.biodiversity}}</li>
    <li class="list-group-item border-0"> {{'Literary period:  '}}{{ author.literaryPeriod}}</li>
    <li class="list-group-item border-0"> {{'Field:  '}}{{ author.field}}</li>
    <li class="list-group-item border-0"> {{'Occupations:  '}}{{ author.occupation}}</li>
    <li class="list-group-item border-0"> {{'Country:  '}}{{ author.country}}</li>
    <li class="list-group-item border-0"> {{'Genre:  '}}{{ author.genre}}</li>
    <li class="list-group-item border-0"> {{'Subjects:  '}}{{ author.subjects}}</li>
    <li class="list-group-item border-0"> {{'Vocabulary count:  '}}{{ author.vocabularyCount}}</li>
    <li class="list-group-item border-0"> {{'Word count:  '}}{{ author.wordCount}}</li>
    <li class="list-group-item border-0"> {{'Completed:  '}}{{ author.completedFlag}}</li>
    <li class="list-group-item border-0"> {{'Locality:  '}}{{ author.locality}}</li>
  </ul>
</div>
