<div class="occurrences">
  <div class="container">
    <div *ngFor="let occurrence of occurrences">
      <div *ngIf="occurrence.term === searchTerm || occurrence.scientificName === searchTerm" class="row mt-2">
        <h5 class="col fw-bold text-secondary">
          Term: {{occurrence.term}}
        </h5>
        <h5 class="col text-primary">
          Scientific name: {{occurrence.scientificName}}
        </h5>
      </div>
    </div>
    <div *ngIf="labelsYAxis">
      <app-chart [chatType]="chartType" [label]='label' [labelsXAxis]="labelsXAxis" [labelsYAxis]="labelsYAxis"></app-chart>
    </div>
  </div>
</div>
<app-occurrence-detail></app-occurrence-detail>
