<div class="occurrences">
  <div class="container">
    <div class="row mt-2">
      <div class="col-7">
        <h5> You searched for: {{searchTerm}}</h5>
        <div *ngIf="count" class="col m-1 fw-bold">
          {{searchTerm}} and related terms occurred {{count}} times.
        </div>
        <div>
          <ul class="list-group">
            <li *ngFor="let occurCount of countAll" class="list-group-item border">
          <span>
           {{occurCount.term}}, {{occurCount.scientificName}}, occurred {{occurCount.count}} times.
          </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col align-items-end">
        <div class="row m-3">
          <div class="col">
            <button (click)="checkAll()" class="btn btn-secondary btn-sm" type="button"> Select all</button>
          </div>
          <div class="col">
            <button (click)="uncheckAll()" class="btn btn-light btn-sm" type="button">Deselect all</button>
          </div>
        </div>
        <ul #occurrenceList class="list-group">
          <div *ngFor="let occurrence of occurrences">
            <li class="list-group-item">
              <input (change)="changeSelection()" [value]="occurrence.term" checked class="form-check-input"
                     id="flexCheckDefault" name='occurBox' type="checkbox">
              {{occurrence.term}}, {{occurrence.scientificName}}
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="row mt-2">
      <div *ngIf="labelsYAxis">
        <app-chart [chartType]="chartType" [label]='label' [labelsXAxis]="labelsXAxis" [labelsYAxis]="labelsYAxis">
        </app-chart>
      </div>
    </div>
  </div>
</div>
<app-occurrence-detail></app-occurrence-detail>
