<h5 *ngIf="authors" class="col fw-bold mt-5">
  Authors ({{authors.length}})
</h5>
<div class="row mb-3">
  <div class="col">
    <button class="btn btn-primary btn-sm" type="button"> Select all</button>
  </div>
  <div class="col">
    <button class="btn btn-light btn-sm" type="button" (click)="uncheckAll()" >Deselect all</button>
  </div>
</div>
<div class="authors">
  <ul class="list-group">
    <li *ngFor="let author of authors" class="list-group-item">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name='authorBox'>
      <span class="author">
       {{author.id}}
     </span>
    </li>
  </ul>
</div>
<app-author-detail [author]="selectedAuthor"></app-author-detail>
