<h5 *ngIf="authors" class="col fw-bold mt-5">
  Authors ({{authors.length}})
</h5>
<div class="row mb-3">
  <div class="col">
    <button class="btn btn-secondary btn-sm" type="button" (click)="checkAll()"> Select all</button>
  </div>
  <div class="col">
    <button class="btn btn-light btn-sm" type="button" (click)="uncheckAll()">Deselect all</button>
  </div>
</div>
<div class="authors">
  <ul class="list-group" #authorList>
    <ng-container *ngFor="let author of authors"  >
    <li class="list-group-item" *ngIf="currentOccurFilter.includes(author.id) || currentOccurFilter.length === 0">
      <input (change)="changeSelection()" class="form-check-input" type="checkbox" [value]="author.id" id="flexCheckDefault" name='authorBox'>
      <span class="author">
       {{author.id}}
     </span>
    </li>
    </ng-container>
  </ul>
</div>
<app-author-detail [author]="selectedAuthor"></app-author-detail>
