<div class="border border-dark rounded-2 p-3">
<div class="row">
  <div class="col-1">
    <h6 class="text-primary">I want to search for:</h6>
  </div>
  <div class="col">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [value]="occurrence" (change)="change(occurrence)" checked>
      <label class="form-check-label" for="inlineRadio1"> Taxon/Scientific Name </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [value]="work" (change)="change(work)">
      <label class="form-check-label" for="inlineRadio2"> Work </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" [value]="author" (change)="change(author)">
      <label class="form-check-label" for="inlineRadio3"> Author </label>
    </div>
  </div>
  <div class="col">
    <div class="input-group">
      <input type="text" #searchBox class="form-control border-primary border-2" placeholder="What are you looking for?">
      <button class="btn btn-outline-primary fw-bold border-2" type="button" id="button-addon2" (click)="search(searchBox.value)">Search</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="input-group"><span class="input-group-text">From</span>
      <input (keyup)="readFrom($event)" type="text" class="form-control" placeholder="1705">
      <span class="input-group-text">To</span>
      <input (keyup)="readTo($event)" type="text" class="form-control" placeholder="1969">
    </div>
  </div>
</div>
</div>
