$primary: rgb(107, 180, 60);
$secondary: rgb(41, 128, 12);
$font-size-base: 0.8rem;

@import "~bootstrap/scss/bootstrap";

:root {
  --background-color: #fffaf0;
  --primary-font-color: rgb(41, 128, 12);
  --secondary-font-color: rgb(107, 180, 60);
  --text-color: rgb(33,31,33);
}
h1 {
  font-family: 'Roboto', sans-serif;
}

.author,.work{
  font-family: 'Roboto', sans-serif;
}
