
h1 {
  color: var(--primary-font-color);
  font-family: var(--main-headline-font);
  font-size: 200%;
}
.heading {
  text-align: center;
}

.container div{
  position: relative;
  top: 60px;
  text-align: center;
}
