<div class="occurrence-detail">
  <div class="container">
    <div class="row">
      <div class="col mt-2 fw-bold">
        {{searchTerm}} and related terms occurred {{count}} times.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item border-0" *ngFor="let occur of occurrences">
          <span>
           Term: {{occur.term}},
            <br> Sentence: {{occur.sentence}}
          </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
