<div class="occurrence-detail mb-3">
  <div class="container">
    <div class="row">
      <div class="col mt-2 fw-bold">
        {{searchTerm}} and related terms occurred {{count}} times.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <ng-container *ngFor="let occur of occurrencesWithWorkMetadata" >
          <li class="list-group-item border-0" *ngIf="currentWorkFilter.includes(occur.workId)">
            <h5>Title: {{occur.Work.title}} </h5>
            <h6>Author: {{occur.Work.authorId}} Year: {{occur.Work.year}}</h6>
             Term: {{occur.term}}
            <br> WordFrame: {{occur.wordsFrame}}
            <br>Sentence: {{occur.sentence}}
          </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
